
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can create and manage their own user profile
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }

    match /documents/{documentId} {
      // Helper functions
      function isOwner() {
        return request.auth.uid == resource.data.ownerId;
      }

      function isEditor() {
        return resource.data.roles[request.auth.uid] == 'editor' || isOwner();
      }

      function isViewer() {
        return resource.data.roles[request.auth.uid] == 'viewer' || isEditor();
      }

      function isPublicViewer() {
        return resource.data.publicAccess == 'viewer' || isPublicEditor();
      }

      function isPublicEditor() {
        return resource.data.publicAccess == 'editor';
      }

      // Check if the requesting user is a guest. 
      // Defaults to `false` if the `isGuest` field is not present.
      function isGuest() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.get('isGuest', false) == true;
      }

      // Rules
      // A non-guest user can create a document.
      allow create: if request.auth.uid != null && isGuest() == false;

      // Viewers can read, public can read if allowed
      allow read: if (request.auth.uid != null && isViewer()) || isPublicViewer();
      
      // Editors can update, but not if they are a guest
      allow update: if ((request.auth.uid != null && isEditor()) || isPublicEditor()) && isGuest() == false;

      // Only owners can delete
      allow delete: if isOwner();
    }
  }
}
